.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  size: cover;
  color: White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  align-content: space-around;
}

.menu__title {
  max-width: 780px;
  margin-top: 100px;
  margin-bottom: 24px;

  font-family: "Inter, serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  margin-bottom: 100px;

  font-family: "Noto Serif, serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  /*display: flex;
  align-content: center;
  justify-content: center;*/
  /* margin-bottom: 100px; */
}

/* .menu__cards_row1 {
  display: flex;
  align-content: space-between; */
/* align-content: center;
  justify-content: center; */
*/
/* } */

/* .menu__cards_row2 {
  display: flex;
  align-content: center;
  justify-content: center;
} */

.card {
  max-width: 600px;
  /* display: flex;
  justify-content: space-between;
  flex-direction: column; */
}

.card__title {
  margin-bottom: 32px;
}

.card__content {
  flex: 0 0 auto;
}
.card__list-item {
  flex: 0 0 auto;
}
.card__list-divider {
  flex: 1 1 100%;
}
