.menu {
  background-color: #0a2750;
  background-image: url("../images/background_menu.svg");
  color: white;
  display: flex;
  flex-direction: column;
}

.menu__title {
  max-width: 780px;
  margin-top: 100px;
  margin-bottom: 24px;
  align-self: center;

  font-family: "Inter", "serif";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.menu__subtitle {
  max-width: 780px;
  align-self: center;
  font-family: "Noto Serif", "serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.menu__cards {
  flex-flow: row wrap;
  list-style: none;
  justify-content: center;
  align-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
}
